ul {
  list-style: none;
  padding-left: 0px;
}

.detaillist_content {
  width: 90%;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin: 5px;
  margin-bottom: 50px;
  margin-top: 120px;
  padding-bottom: 15px;
}

.detaillist_qna {
  text-align: left;
}

.detaillist_img {
  width: 100%;
  height: auto;
}

.detaillist_font {
  padding: 5%;
  text-align: left;
}

.detaillist_qna_box {
  text-align: left;
}

.detaillist_qna_trashbox {
  display: flex;
  flex-direction: column;
}

.detaillist_qna_tras {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.detaillist_comment {
  margin-left: auto;
  width: 90%;
  text-align: left;
}

.detaillist_comment1 {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  width: 100%;
  text-align: left;
}

.detaillist_comment2 {
  float: left;
}

.detaillist_comment3 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.detaillist_imo {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  padding: auto;
  text-align: right;
}

.detaillist_scr {
  margin-right: 1%;
  text-align: right;
}

.detaillist_bar {
  margin-left: 3%;
}

.detaillist_user{
  margin-left: 1%;
}
.detaillist_trashbtn{
  float: right;
}
.detaillist_qnacontent{
  width: 100%;
}
.detaillist_chong{
  color:#1385e3;
}


.profile_edit{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}
.profile_text{
  border:  none;
}
.profile_edit input:focus{
  outline: 2px solid #bbdcf7;
  border-radius: 5px;
}

