.joinerlist{
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    margin: 5px;
    margin-bottom: 10px;
    padding-bottom: 15px;
}
/* .joiner_context span{
width: 25%;
} */

.mydetail{
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    margin: 5px;
    margin-bottom: 10px;
    padding-bottom: 15px;
}