.myopen{
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    margin: 5px;
    margin-bottom: 10px;
    padding-bottom: 15px;
}
.myjoin{
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    margin: 5px;
    margin-bottom: 10px;
    padding-bottom: 15px;
}
.my_title{
    font-weight: bold;
    text-align: left;
    font-size: large;
    margin-bottom: 3px;
}
.myopen_context{
    font-size: medium;
    padding-left: 15px;
}
.myjoin_context{
    font-size: medium;
    padding-left: 15px;
}
.myitem{
    width: 50%;
}
.myitemshow{
    width: 50%;
    float: right;
    text-align: right;
    padding-right: 15px;

}
.mysubform{
    width: 50%;
    float:left;
    /* text-align: right; */
}
.myitemOka{
    float:left;
    text-align: center;
    width:20%;
}
.myformshow{
    width: 30%;
    float: left;
    text-align: right;
    padding-right: 15px;

}

.myjoin hr{
    background-color: #1a2260;
    margin-top: 3%;
    margin-bottom: 3%;
}

.myopen hr{
    background-color: #1a2260;
    margin-top: 3%;
    margin-bottom: 3%;
}
