html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.body_box{
  width:450px;
  background: linear-gradient(to top, #c5e0b4, #bbdcf7, #e0c0f6);
  background-attachment: fixed;
  align-items: center;
  margin: 0 auto;
}

.wrapper {
  background-color: #f5f9fa;
}

.container {
  padding: 10px;
  margin-top: 100px;
  margin-bottom: 50px;
  border-radius: 20px;
  width: 50%;
  display: grid;
  display: inline-grid;
  position: relative;
}

.footer {
  background-color: #c3dfc0;
  color: white;
  text-align: center;
  border-top: 1px solid #f5f9fa;
  height: 27px;
  margin-top: -27px;
  width: 450px;
  align-items: center;
  margin: 0 auto;
}

.formbox {
  margin-top: 50%;
  text-align: center;
  vertical-align: bottom;
}
.formbox_logintext {
  font-size: 2vmin;
}

.cobuyingItem {
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  position: relative;
  z-index: 0;
}

.home_scr {
  /*background-color: rgb(0, 0, 0, 0.3);*/
  position: absolute;
  height: 16px;
  width: 17px;
  top: 10px;
  right: 22px;
  display: inline-flex;
  z-index: 3;
}

.home_scr icon {
  margin: auto;
}

nav {
  background-color: #e0c0f6;
  height: 90px;
  width: 100%;
  border-radius: 0 0 5px 5px;
  padding: 15px;
  position: fixed;
  align-self: center;
  z-index: 4;
}

nav ul {
  padding-left: 0%;
  padding-right: 0%;
}

nav li {
  display: inline-block;
  margin: auto;
  width: auto;
}

nav span {
  color: black;
}

.dataillist.content {
  text-align: center;
  align-self: center;
  margin-top: 80px;
  padding: 5px;
  margin-bottom: 30px;
  background-color: white;
  border-radius: 20px;
}

.itemname {
  font-size: 10px;
}

.itemBtn {
  padding: 30px;
  width: 50%;
}

.date {
  font-size: 5px;
}

.image {
  width: 30px;
  height: 30px;
}

.home_power {
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 61px;
  padding-top: 16px;
  text-align: center;
  font-size: 20px;
  border-radius: 15px;
}

#powerseller {
  color: rgb(47, 0, 93);
}

button {
  margin: 20px;
  background: #bbdcf7;
  color: rgb(85, 141, 245);
  border: none;
  border-radius: 3px;
  display: inline-block;
}

.Excelclass .btn {
  background: #bbdcf7;
  color: white;
}

.default_Btn_Right {
  margin: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 5px;
  float: right;
}
.default_Btn_Right2 {
  margin: 5px;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 5px;
  float: right;
}
.default_Btn_Right_Bottom {
  position: absolute;
  bottom: 0;
  margin: 0px;
  font-size: 10px;
  /* padding: 2px; */
  background-color: #d9d9d9;
  color: #5b5b5b;
  border-radius: 5px;
  /* float: right; */
}

.delete_Img_Btn {
  position: absolute;
  bottom: 110px;
  right:15px;
  margin: 5px;
  font-size: 15px;
  width: fit-content;
  background-color: #d9d9d9;
  color: #5b5b5b;
  border-radius: 5px;
  /* float: right; */
  /* height: 20%; */
}

.default_Btn_Left {
  margin: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 5px;
  float: left;
}

.default_Btn_Center {
  margin: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 5px;
}

.qna_input {
  /* width: 67%; */
  margin-left: 5%;
  width: 85%;
  /* height: %; */
  /* margin-top: 3%; */
}

.qna_text {
  margin-top: 5%;
  text-align: center;
  font-size: 14px;
}

.endthing {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.upload_Btn {
  width: 10%;
  text-align: right;
  /* margin: 5px; */
  margin-top: 0px;
  /* margin-bottom: 0px; */
  border-radius: 5px;
  /* margin-left: 5%; */
}

.cancel_Btn {
  border-radius: 3px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-radius: 5px;
  margin-left: 10%;
  margin-right: 5%;
}

.update_Btn {
  margin: 20px;
  background: #bbdcf7;
  color: rgb(85, 141, 245);
  border: none;
  border-radius: 3px;
  display: inline-block;
  align-items: center;
  margin-left: 10%;
}

.attatchment img {
  width: 100px;
  height: 100px;
  margin-right: 5px;
  margin-top: 5px;
}

#rotating_img {
  animation: rotate_image 10s linear infinite;
  transform-origin: 50% 50%;
}

@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}

.ini {
  text-align: center;
  margin-top: 50%;
  width: 450px;
  height: 100%;
  background-color: #f5f9fa;
}

.fa-globe {
  border-radius: 50%;
  background-color: rgb(0, 0, 0, 0.3);
}

#star-five {
  margin: 50px 0;
  position: relative;
  display: block;
  color: red;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid red;
  border-left: 100px solid transparent;
  transform: rotate(35deg);
}
#star-five:before {
  border-bottom: 80px solid red;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -45px;
  left: -65px;
  display: block;
  content: "";
  transform: rotate(-35deg);
}
#star-five:after {
  position: absolute;
  display: block;
  color: pink;
  top: 3px;
  left: -105px;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid pink;
  border-left: 100px solid transparent;
  transform: rotate(-70deg);
  content: "";
}
